<h1>Educations</h1>
<ul>
    <li style="--accent-color:#F0F0F0">
        <div class="date">College</div>
        <div class="title">2017 - 2021 <br/> Bachelor Science in Information Technology</div>
        <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic quibusdam fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
    </li>
    <li style="--accent-color:#F0F0F0">
        <div class="date">Vocational</div>
        <div class="title">PC Operation</div>
        <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis nostrum vero nihil veniam.</div>
    </li>
    <li style="--accent-color:#F0F0F0">
        <div class="date">Highschool</div>
        <div class="title">2022 - 2022</div>
        <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit, sequi quo, et dolorum saepe nulla hic.</div>
    </li>
    <li style="--accent-color:#F0F0F0">
        <div class="date">Elementary School</div>
        <div class="title">2022 - 2022</div>
        <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
    </li>
    <li style="--accent-color:#F0F0F0">
        <div class="date">Kinder Garten</div>
        <div class="title">2022 - 2022</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>
</ul>