<section id="education">
<h1 class="features-title">Educations</h1>
<div class="education-page">
<ul>

    <li class="reveal" *ngFor="let education of educations">
        <div class="title">{{education.level}}</div>
        <div class="sub-title">
            {{education.school}}<br/>
            <span >{{education.course}}</span><br *ngIf="education.course"/>
            <span>[ {{education.year}} ]</span>
        </div>
        <div class="location">
            Address: <span>{{education.address}}</span>
        </div>
        <div class="description">{{education.description}}</div>
    </li>

</ul>
</div>
</section>