<section id="education">
<h1 class="features-title">Educations</h1>
<div class="education-page">
<ul>
    <li>
        <div class="title">College</div>
        <div class="sub-title">University of Caloocan City<br/><span>Bachelor Science in Information Technology</span><br/><span>[ 2017 - 2021 ]</span></div>
        <div class="location">Address: <span>Biglang Awa Street Cor 11th Ave Catleya, East Grace Park, Caloocan City</span></div>
        <div class="description">More details soon...</div>
    </li>
    <li>
        <div class="title">Vocational</div>
        <div class="sub-title">Xavier Technical Training Center<br/><span>PC Operation</span><br/><span>[ 2014 ]</span></div>
        <div class="location">Address: <span>524-E Epifanio Delos Santos Avenue, Caloocan City</span></div>
        <div class="description">More details soon...</div>
    </li>
    <li>
        <div class="title">Highschool</div>
        <div class="sub-title">Bagong Barrio National Highschool<br/><span>[ 2016 ]</span></div>
        <div class="location">Address: <span>M. De Castro Street, Barangay 142, Tanque, Caloocan City</span></div>
        <div class="description">More details soon...</div>
    </li>
    <li>
        <div class="title">Elementary School</div>
        <div class="sub-title">Baesa Elementary School<br/><span>[ 2004 - 2010 ]</span></div>
        <div class="location">Address: <span>229 Reparo Road, Caloocan City</span></div>
        <div class="description">More details soon...</div>
    </li>
    <li>
        <div class="title">Kinder Garten</div>
        <div class="sub-title">Jasmin Child Development Center<br /><span>[ 2004 ]</span></div>
        <div class="location">Address: <span>Jasmin Street, Reparo Baesa Caloocan City</span></div>
        <div class="description">More details soon...</div>
    </li>
</ul>
</div>
</section>