<section id="skill">
    <h1 class="features-title">Skills</h1>
    <div class="skill-page">
      <div class="skills-grid">
        
        <div class="skill-card" *ngFor="let skill of skills">
          <img [src]="skill.image" [alt]="skill.alt" />
          <div class="skill-text">
            <h2>{{ skill.name }}</h2>
          </div>
        </div>
<!--         
        <div class="skill-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4P-pt61PeTsAj_1b-Bb_MmFpUO22360XrQw&s" alt="nodejs" />
          <div class="skill-text">
            <h2>Node.js</h2>
          </div>
        </div>
        
        <div class="skill-card">
          <img src="https://static.vecteezy.com/system/resources/previews/048/332/150/non_2x/java-programming-language-java-logo-free-png.png" alt="java" />
          <div class="skill-text">
            <h2>Java</h2>
          </div>
        </div>

        <div class="skill-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXBpy5FHXK_NNT2Pw9ELbrRajO5HDc-rNI3A&s" alt="angular" />
          <div class="skill-text">
            <h2>Angular</h2>
          </div>
        </div>

        <div class="skill-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg1MndL-Xp1JcnqaB0YOqTp6zDjrwYyGKsPA&s" alt="reactjs" />
          <div class="skill-text">
            <h2>React JS</h2>
          </div>
        </div>

        <div class="skill-card">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-html-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-3-pack-logos-icons-3030115.png?f=webp" alt="html" />
          <div class="skill-text">
            <h2>Hypertext Markup Language (HTML)</h2>
          </div>
        </div>
        
        <div class="skill-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJDwBd9LoQzBAZigXXxzQ0kKn6TwyrE0Y7Rg&s" alt="html" />
          <div class="skill-text">
            <h2>Cascading Style Sheets (CSS)</h2>
          </div>
        </div>
        
        <div class="skill-card">
          <img src="https://thumbs.dreamstime.com/b/javascript-icon-logo-javascript-often-abbreviated-as-js-programming-language-conforms-to-ecmascript-specification-204759326.jpg" alt="html" />
          <div class="skill-text">
            <h2>Javascript</h2>
          </div>
        </div>
        
        <div class="skill-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png" alt="html" />
          <div class="skill-text">
            <h2>CSS</h2>
          </div>
        </div>
        
        
        <div class="skill-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZaw8EmkSlum0mRvWmmdQLUkXR9DlwutZ7_Q&s" alt="mysql" />
          <div class="skill-text">
            <h2>MySQL</h2>
            <h3>[ System software ]</h3>
          </div>
        </div>
        
        <div class="skill-card">
          <img src="https://www.svgrepo.com/download/303229/microsoft-sql-server-logo.svg" alt="mssql" />
          <div class="skill-text">
            <h2>Microsoft SQL Server</h2>
            <h3>[ System software ]</h3>
          </div>
        </div>

        <div class="skill-card">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-html-logo-icon-download-in-svg-png-gif-file-formats--technology-social-media-vol-3-pack-logos-icons-3030115.png?f=webp" alt="html" />
          <div class="skill-text">
            <h2>Hypertext Markup Language (HTML)</h2>
          </div>
        </div>

        <div class="skill-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png" alt="bootstrap" />
          <div class="skill-text">
            <h2>Bootstrap</h2>
            <h3>[ Front-end ]</h3>
          </div>
        </div> -->

      </div>
    </div>
</section>