<app-dev-mode *ngIf="displayDevMode"></app-dev-mode>
<nav class="navbar">
  <input type="checkbox" id="toggle" class="menu-toggle">
  <label for="toggle" class="menu-icon">&#9776;</label>
  <div (click)="backToHome()" class="logo">
    <img class="icon" src="assets/images/logo.png" width="50" height="50">
  </div>
  <ul class="nav-links">
    <li><a href="#home">HOME</a></li>
    <li><a href="#about">ABOUT</a></li>
    <li><a href="#skill">SKILLS</a></li>
    <li><a href="#experience">EXPERIENCE</a></li>
    <li><a href="#project">PROJECT</a></li>
    <li><a href="#education">EDUCATION</a></li>
    <li><a href="#contact">CONTACT</a></li>
  </ul>
  <div (click)="changeTheme()" class="option">
    <img class="icon icon-theme" [src]="iconPath" alt="theme icon">
  </div>
</nav>