.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #555;
}

/* Responsive Styles */
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    background-color: #333;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .nav-links a {
    padding: 1rem 0;
  }

  .menu-toggle:checked + .menu-icon + .logo + .nav-links {
    display: flex;
  }
}
