.button-download img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.button-download h1 {
	margin-block-end: 1rem;
	font-size: 3rem;
}

.button-download a {
	color: var(--secondary-background-color);
    cursor: default;
	text-decoration: none;
}

.button-download .wrapper {
	display: grid;
	place-content: center;
	height: 100vh;
}

.button-download .c-btn {
	position: relative;
	overflow: hidden;
	padding: 0.5rem 1rem;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: var(--secondary-background-color);
	text-decoration: none;

	border-radius: 5px;
	background-color: transparent;
	backface-visibility: hidden;
	box-shadow: inset 0 0 0 1px var(--secondary-background-color);

	transform: translateZ(0);

	&::after {
		content: "";
		pointer-events: none;
		position: absolute;

		top: 0;
		left: 0;
		z-index: 1;
		height: 120%;
		width: 120%;

		border-radius: 20%;
		background-color: var(--secondary-background-color);
		scale: 0 0;
		translate: 0 140%;
		transition: scale 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
			translate 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

.button-download .c-btn__label {
	display: inline-flex;
	align-items: center;
	gap: .5rem;

	z-index: 2;
	letter-spacing: 0.025em;

	transition: color 0.32s ease-in-out;
}

.button-download .c-btn:hover {
	span {
		color: var(--secondary-color);
	}

	&:after {
		scale: 1.5 1.5;
		translate: 0 0;

		border-radius: 50%;
	}
}

@media (max-width: 600px) {
    .button-download .c-btn {
      width: 100%;
    }
}