<section id="project">
    <h1 class="features-title">Project</h1>
    <div class="project-page">
      
        <article class="episode">
            <div class="episode__number">OPS</div>
            <div class="episode__content">
              <div class="title">OPS - BillEase</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>
          
          <article class="episode">
            <div class="episode__number">BO</div>
            <div class="episode__content">
              <div class="title">Back Office</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>
          
          <article class="episode">
            <div class="episode__number">ECS</div>
            <div class="episode__content">
              <div class="title">Employee Clearance System</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>
          
          <article class="episode">
            <div class="episode__number">JAS</div>
            <div class="episode__content">
              <div class="title">Job Application System</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>
          
          <article class="episode">
            <div class="episode__number">EMS</div>
            <div class="episode__content">
              <div class="title">Employee Management System</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>
          
          <article class="episode">
            <div class="episode__number">ICMS</div>
            <div class="episode__content">
              <div class="title">Insurance Claim Monitoring System</div>
              <div class="story">
                <p>More details soon...</p>
              </div>
            </div>
          </article>

    </div>
</section>