<section id="project">
    <h1 class="features-title">Project</h1>
    <div class="project-page">
      
      <article class="episode reveal" *ngFor="let project of projects">
        <div class="episode__number">{{project.code}}</div>
        <div class="episode__content">
          <div class="title">{{project.name}}</div>
          <div class="story">
            <div><span class="fw-bold">Project Status: </span>{{project.status}}</div>
            <div><span class="fw-bold">Year: </span>{{project.year}}</div>
            <div><span class="fw-bold">Technology: </span>{{project.technology}}</div>
            <p>{{project.description}}</p>
          </div>
        </div>
      </article>
      
    </div>
</section>