*,
*::before,
*::after {
  box-sizing: border-box;
}

.project-page p {
  margin: 0 0 13px 0;
}

.project-page a {
  color: #fff;
}

.project-page .center { text-align: center; }

.project-page .container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.project-page .episode {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  position: relative;
}

.project-page .episode__number {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 5rem;
  text-align: right;
  padding-right: 2rem;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.project-page .episode__content {
  border-top: 2px solid var(--secondary-background-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.project-page .episode__content .title {
  font-weight: 600
}

.project-page .episode__content .story {
  line-height: 26px;
}

@media (max-width: 605px) {
  .project-page .episode__content {
    grid-template-columns: 1fr;
  }
  .project-page .episode__number {
    padding-right: 1rem;
  }
}

@media (max-width: 576px) {
  .project-page .episode__content .story {
    font-size: 15px;
  }
  .project-page .episode__number {
    padding-right: 1rem;
  }
}