
<h1 class="features-title">Experiences</h1>
<div class="experience-page">

	<ul class="team">
		<li class="member">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ud9DbdVrZR_YOWhp9UyPElCsfbT1hfT7Ig&s"></div>
			<div class="description">
				<h3>VeritasPay</h3>
				<h5><i>October 2023 - Present</i></h5>
				<p>Chris is a front-end developer and designer. He writes a bunch of HTML, CSS, and JavaScript and shakes the pom-poms for CodePen.<br><a href="https://codepen.io/chriscoyier/">a</a></p>
			</div>
		</li>
		<li class="member">
			<div class="thumb"><img src="https://static1.eyellowpages.ph/uploads/yp_business/photo/940495/normal_1541578199-motortrade.png"></div>
			<div class="description">
				<h3>Concerted Management Corporation, Motortrade</h3>
				<h5><i>September 2022 - October 2023</i></h5>
				<p>Alex is a full stack developer. Alex does JavaScript development for CodePen, both front end and back, and just about everything else.<br><a href="https://codepen.io/quezo/">a</a></p>
			</div>
		</li>
		<li class="member">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7rxpSLbf-Q1IQ9NZBnpIfIfDV7cvm73xFg&s"></div>
			<div class="description">
				<h3>H2 Software Consulting Services, Inc.</h3>
				<h5><i>January 2022 - August 2022</i></h5>
				<p>Marie wears a lot of hats. She is our documentation lead, customer support maestra, editor, and community manager.<br><a href="https://codepen.io/mariemosley/">a</a></p>
			</div>
		</li>
	</ul>

</div>