<section id="experience">
<h1 class="features-title">Experiences</h1>
<div class="experience-page">
	<ul class="team">
		<li class="member reveal">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ud9DbdVrZR_YOWhp9UyPElCsfbT1hfT7Ig&s"></div>
			<div class="title"><h3>VeritasPay Philippines Incorporated<br /><span>October 2023 - Present</span></h3></div>
			<div class="description">
				<span class="position">[ Junior Software Developer ]</span>
				<p class="first">VeritasPay Philippines Inc. (VP) is a payment service provider that aims to modernize the payment landscape of the Philippines.</p>
				<p>The services we offer are in-line with the payment needs of SMEs, large enterprises, and financial institutions, and all are designed to create a more seamless payment experience.</p>
				<p>To strengthen our solutions further, we promise flexibility in system integrations and also offer a wide range of support services that ensure the best for our clients and partners.</p>
				<p>As we continously look to protect everyone's data, we are in full compliance with the latest rules and regulations of local and international card and payment security organizations.</p>
				<p>
					<span href="#">C#</span>
					<span href="#">Asp.net</span>
					<span href="#">Blazor</span>
					<span href="#">Git</span>
					<span href="#">MsSQL</span>
				</p>
			</div>
		</li>
		<li class="member reveal">
			<div class="thumb"><img src="https://static1.eyellowpages.ph/uploads/yp_business/photo/940495/normal_1541578199-motortrade.png"></div>
			<div class="title"><h3>Concerted Management Corporation, Motortrade<br /><span>September 2022 - October 2023</span></h3></div>
			<div class="description">
				<span class="position">[ System Analyst ]</span>
				<p class="first">Motortrade Nationwide Corporation (MNC) is the leading multi-brand motorcycle dealer in the Philippines. Its humble beginning can be traced back to the late 1960’s as a motorcycle spare parts and hardware store at a small town in Bicol—Daet, Camarines Norte. Through the dedication, perseverance and hard work of many, the company grew and was incorporated by the Securities and Exchange Commission (SEC) on December 27, 1979.</p>
				<p>After more than 4 decades of existence, the company has widened its presence beyond waters as it now operates with more than 500+ branches and satellites across the archipelago. It reaches out to serve in all areas of the country—Luzon, Visayas and Mindanao. In Metro Manila alone, there are more than 100 branches, with more soon to be opened. Expansion is also on the rise across the Visayas and Mindanao.</p>
				<p>
					<span href="#">C#</span>
					<span href="#">MVC</span>
					<span href="#">Web API</span>
					<span href="#">Git</span>
					<span href="#">MySQL</span>
				</p>
			</div>
		</li>
		<li class="member reveal">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7rxpSLbf-Q1IQ9NZBnpIfIfDV7cvm73xFg&s"></div>
			<div class="title"><h3>H2 Software Consulting Services, Incorporated<br /><span>January 2022 - August 2022</span></h3></div>
			<div class="description">
				<span class="position">[ Software Developer ]</span>
				<p class="first">H2 Software Consulting Services, Inc. is a Filipino IT Company formed in 2011 to provide world-
					class IT service and software solutions that suit Philippine business settings.</p>
				<p>The company has earned the trust of top corporations in the country for a wide range of IT services including
					payroll software, IT help desk, software development and software testing. It now employs more than 150 highly skilled IT professionals.</p>
				<p>
					<span href="#">C#</span>
					<span href="#">MVC</span>
					<span href="#">Web API</span>
					<span href="#">Git</span>
					<span href="#">MySQL</span>
				</p>
			</div>
		</li>
	</ul>

</div>
</section>