
<h1 class="features-title">Experiences</h1>
<div class="experience-page">
	<ul class="team">
		<li class="member">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ud9DbdVrZR_YOWhp9UyPElCsfbT1hfT7Ig&s"></div>
			<div class="title"><h3>VeritasPay Philippines Incorporated<br /><span>October 2023 - Present</span></h3></div>
			<div class="description">
				<span class="position">[ Junior Software Developer ]</span>
				<p>Chris is a front-end developer and designer. He writes a bunch of HTML, CSS, and JavaScript and shakes the pom-poms for CodePen.<br>
					<span href="#">C#</span>
					<span href="#">Asp.net</span>
					<span href="#">Blazor</span>
					<span href="#">Git</span>
					<span href="#">MsSQL</span></p>
			</div>
		</li>
		<li class="member">
			<div class="thumb"><img src="https://static1.eyellowpages.ph/uploads/yp_business/photo/940495/normal_1541578199-motortrade.png"></div>
			<div class="title"><h3>Concerted Management Corporation, Motortrade<br /><span>September 2022 - October 2023</span></h3></div>
			<div class="description">
				<span class="position">[ System Analyst ]</span>
				<p>Alex is a full stack developer. Alex does JavaScript development for CodePen, both front end and back, and just about everything else.<br>
					<span href="#">C#</span>
					<span href="#">MVC</span>
					<span href="#">Web API</span>
					<span href="#">Git</span>
					<span href="#">MySQL</span></p>
			</div>
		</li>
		<li class="member">
			<div class="thumb"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK7rxpSLbf-Q1IQ9NZBnpIfIfDV7cvm73xFg&s"></div>
			<div class="title"><h3>H2 Software Consulting Services, Incorporated<br /><span>January 2022 - August 2022</span></h3></div>
			<div class="description">
				<span class="position">[ Software Developer ]</span>
				<p>Marie wears a lot of hats. She is our documentation lead, customer support maestra, editor, and community manager.<br>
					<span href="#">C#</span>
					<span href="#">MVC</span>
					<span href="#">Web API</span>
					<span href="#">Git</span>
					<span href="#">MySQL</span></p>
			</div>
		</li>
	</ul>

</div>