
:root {
	--yellow: #ffdd40;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}

.experience-page {
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	background: var(--background-color);
}

.experience-page ul {
	width: 80%;
}

.experience-page .team {
	color: var(--secondary-color);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.experience-page .member {
	margin: .25rem 0 1rem;
	padding: 0.73em;
	background: var(--secondary-background-color);
	position: relative;
	list-style: none;
	display: inline-block;
	transition: var(--trans);
	border-radius: 10px;
}

.experience-page .member:nth-of-type(even),
.experience-page .member:nth-of-type(even) p {
	text-align: right;
	background: var(--secondary-background-color);
	border-radius: 10px;
}

.experience-page .thumb {
	margin: .5rem;
	width: 5rem;
	height: 5rem;
	float: left;
	background: var(--background-color);
	transition: var(--trans);
}

.experience-page .member:nth-of-type(even) .thumb {
	float: right;
}

.experience-page .thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--background-color);
}

.experience-page .member:hover {
	/* transform: scale(1);
	transition: var(--trans); */
}

.experience-page .member:hover .thumb {
	/* padding: 0.1em;
	transition: var(--trans); */
}

.experience-page .member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.experience-page .description {
	padding-top: 1vmin;
}

.experience-page .description p {
	text-align: justify;
	padding: .5rem;
	margin-bottom: 1em;
}

.experience-page .position {
	font-weight: bold;
	text-align: justify;
	padding: .5rem;
	margin-bottom: 1em;
}

.experience-page h3 {
	font-size: 1.5rem;
	background: var(--background-color);
	margin: 0;
	padding: 0.5em 0.75em;
	color: var(--primary-color);
	border-radius: 10px;
	border: 5px var(--secondary-background-color) solid;
	text-align: center;
}
.experience-page h3 span {
	font-size: 1rem;
	font-style: italic;
}

.experience-page .member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform-origin: right bottom;
	background: var(--background-color);
}

.experience-page h5 {
	background: var(--background-color);
	display: inline;
	position: absolute;
	margin: 0;
	margin-top: -2.8em;
	right: 9vmin;
	padding: 0.5em 0.75em;
	color: var(--primary-color);
	border-radius: 10px;
	border: 5px var(--secondary-background-color) solid;
}

.experience-page .member:nth-of-type(even) h5 {
	right: inherit;
	left: 9vmin;
	transform-origin: left bottom;
	background: var(--background-color);
}

.experience-page .member:hover h3 {
	transition: var(--trans);
	background: var(--background-color);
}

.experience-page .co-funder:after {
	content: "CO-FUNDER";
	position: absolute;
	top: -1.5em;
	background: var(--yellow);
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
}

.experience-page .co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}

.experience-page .description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: var(--yellow);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.experience-page .description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: var(--yellow);
}

.experience-page .description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}

@media (max-width: 768px) {
	.experience-page ul {
		width: 100%;
	}
	.experience-page h3 {
		height: 6rem;
		font-size: 1rem;
	}
	.experience-page h3 span {
		font-size: .75rem;
	}


	.experience-page .member:nth-of-type(even) .thumb {
		float: left;
	}
	.experience-page .member:nth-of-type(even),
	.experience-page .member:nth-of-type(even) p {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.experience-page ul {
		width: 100%;
	}
}