<section id="about">
    <h1 class="features-title">About</h1>
    <div class="about-page">
      
        <div id="bg-card"></div>
        <div id="gradient"></div>
        <div id="card">
        <img src="{{img}}" alt="developer"/>
        <h2>{{name}}</h2><br>
        <p>A software developer with a deep passion for coding and technology. I have a strong interest in web development and enjoy building applications that are both functional and visually appealing. My journey in the tech world began when I was highschool when I became captivated by computers, sparking my love for programming and problem-solving.</p><br>
        <p>I graduated from University of Caloocan City with a degree in Bachelor of Science in Information Technology. I was born on August 22, 1998 and currently reside in Malabon City.</p>
        <span class="left bottom">{{number}}<br>{{email}}</span>
        <span class="right bottom">[ Download Resume ]</span>
        </div>

    </div>
</section>