@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root {
    --background-color: #F7F7F7;
    --secondary-background-color: #1C1C1E;
    --primary-color: #333333;
    --secondary-color: #DDDDDD;
    --accent-color: #FF4C4C;
    --dividers: #DDDDDD;
    --hover: #F0F0F0;
  }
  
.dark-theme {
    --background-color: #1C1C1E !important;
    --secondary-background-color: #F7F7F7 !important;
    --primary-color: #F7F7F7 !important;
    --secondary-color: #1C1C1E !important;
    --accent-color: #FF4C4C !important;
    --dividers: #A1A1A6 !important;
    --hover: #29292B !important;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Faculty Glyphic", sans-serif;
    color: var(--primary-color);
    background: var(--background-color);
    align-content: center;
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

.features-title {
    position: relative;
    text-align: center;
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
    padding: 1%;
    margin: 1% 1% 5% 1%;
    border-radius: 10px;
}